﻿/*************** Commons /***************/
html, div, body {padding: 0; margin: 0; width:100%; height:100%;}
body { color: white; font-family: 'Arial';}

/*************** Instructions /***************/
#instructions {position:absolute; width:80%; top: -100%; left:10%; height:130px; background:rgba(0, 0, 0, 0.5); padding:20px 0; margin-top:20px; 
			   text-align: center; pointer:none; -webkit-touch-callout: none; -webkit-user-select: none; cursor: default;
			   -webkit-transition: top .5s ease-out;}

#instructions.show {top:0%;}
#instructions h1, #instructions h2 {margin:0 auto; color:#FFFFFF; font-weight: normal;}
#instructions h1 {font-size: 50px;}

/*************** Canvas /***************/
#root {width:100%; height:100%; position:relative;}
#canvas_grid {-webkit-transition: opacity .5s linear;}
#canvas_grid.hide {opacity:0;}
#root canvas {position:absolute;}

/*************** ProgressBar /***************/
#progress {bottom:20px; height:5px; position:absolute; -webkit-transition: opacity .5s linear; 
		   background:#323232; opacity:0;}
#progress.show {opacity:1;}
#progress #progress_bar {height:100%; width:0%; background:#066ca6;}
#progress.show #progress_bar {width:100%;}
#progress.hide #progress_bar {width:0%; opacity:0;}